* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
}

div {
    /* border: red solid 1px; */

}

.container {
    border: green solid 2px;
}

.container-header-section {
    background-color: #1f2937;
    padding: 16px 0;
}

.container-header-section,
.container-hero-section,
.container-content-cards-section,
.container-content-quote-section {
    display: flex;
    justify-content: center;
}

.container-header, .container-hero, .container-content-cards-content, .container-content-quote {
    width: 70vw;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.container-header-links {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header-link a, .hero-info-subtext, .container-hero-image {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}

.hero-info-header {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.container-hero-section {
    background-color: #1F2937;
    padding: 88px 0 120px;
}

.container-hero {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    flex-wrap: wrap;
}

.container-hero-info {
    width: 455px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-hero-info-subtext {
    padding-bottom: 8px;
}

button {
    border-radius: 6px;
    padding: 6px 32px;
    font-size: 18px;
    font-weight: 800;
    color: #e5e7eb;
    font-family: "Roboto", sans-serif;
}

.hero-info-button {
    background-color: #3882f6;
    border: 0px;
}

.container-hero-image {
    background-color: #6e737c;
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-content-cards-section {
    background-color: #fff;
}

.container-content-cards-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin: 48px 0 112px;
}

.container-content-cards-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.container-content-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 6vw;
}

.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 168px;
    gap: 4px;
}

.card-subtext {
    color: #1f2937;
    font-size: 18px;
    text-align: center;
}

.card-image {
    width: 168px;
    height: 168px;
    border: #3882f6 solid 4px;

    border-radius: 15px;
}

.container-content-quote-section {
    background-color: #e5e7eb;
}

.container-content-quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 124px 7.5vw 108px;
}

.container-quote {

    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.container-quote-author {
    font-size: 24px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 8px;
}

.container-content-action-section {
    height: 350px;
    background-color: #fff;
}

.footer {
    height: 100px;
    background-color: #1f2937;
}